################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ARM64/Release
/elf2cro/arm64/Release
/cro2elf/ARM64/Release
/.vs
